.hero-canvas {
  display: grid;
  margin-top: $vertical-rhythm-base;
  margin-bottom: $vertical-rhythm-base * 2;
  padding-left: 1.5rem;
  padding-right: 1.5rem;


  grid-template-areas:
    "heroheader"
    "herocanvas"
    "heromessage"
  ;

  @include from($tablet) {
    grid-column-gap: 4rem;
    grid-template-columns: 1fr 30rem;

    grid-template-areas:
      "heroheader herocanvas"
      "heromessage herocanvas"
    ;
  }

  @include from($desktop) {
    padding-left: 0;
    padding-right: 0;
  }  

}

.hero-canvas__header {
  grid-area: heroheader;
  align-self: flex-end;
}

.hero-canvas__frame {
  grid-area: herocanvas;

  @include mobile {
    margin-bottom: $vertical-rhythm-base / 2;
  }

  @include from($tablet) {
    /*-- no CSS Grid support --*/
    float: right;
    width: 50%;
    /*-- /no CSS Grid support --*/
  }



}

.hero-canvas__message {
  grid-area: heromessage;

  @include from($tablet) {
    /*-- no CSS Grid support --*/
    float: left;
    width: 45%;
    margin-top: 1rem;
    /*-- /no CSS Grid support --*/
  }

}


.hero__title {
  margin-bottom: $vertical-rhythm-base;

  @include from($tablet) {
    margin-bottom: $vertical-rhythm-base / 2;
  }

}

.hero__artwork {
  @include mobile {
    width: 80%;
    margin-left: 10%;
  }
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .hero-canvas > * {
    width: auto !important;
    margin: 0 !important;
  }
}
