.product-walkthrough {
  margin-bottom: $vertical-rhythm-base * 2;

  @include from($desktop) {
    margin-bottom: $vertical-rhythm-base * 4;
  }


  &:last-child {
    margin-bottom: 0;
  }
}

.product-walkthrough__image {

  @include mobile {
    width: 80%;
    margin-left: 10%;
  }
}

.product-walkthrough__image--pull-left {
  @include from($desktop) {
    order: 1;
  }
}

.product-walkthrough__image--pull-right {
  @include from($desktop) {
    order: 2;
  }
}


.product-walkthrough__explanation--pull-right {
  @include from($desktop) {
    order: 2;
  }
}

.product-walkthrough__explanation {
  display: flex;
  align-items: center;
}
