---
layout: default
active: about
---


<section class="hero is-primary is-medium is-bold">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="/" class="logo">
            <svg class="logo__image">
              <use xlink:href="#logo-inverse" />
            </svg>
          </a>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a href="/" class="navbar-item">
              <strong class="navbar-item__title">Vantage</strong>
              <em class="navbar-item__caption">makes ports better, safer &amp; faster</em>
            </a>
            <a href="/about/" class="navbar-item is-active">
              <strong class="navbar-item__title">About</strong>
              <em class="navbar-item__caption">company, team &amp; mission</em>
            </a>
            <span class="navbar-item">
              <a href="https://sealevelresearch.typeform.com/to/KE0BzX" class="button is-primary is-inverted">
                <strong>Contact</strong>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

</section>


<section class="mission-hero hero is-dark">
  <div class="hero-body">
    <div class="container">
      <div class="columns">

        <div class="column is-8 is-offset-2">

          <div class="content ">
            <p class="is-size-4-mobile is-size-3">We’re optimising everything connected to vessel movements in and out of ports in ways that reduces risks, costs and shipping’s carbon footprint on this beautiful planet.</p>

            <p><strong><a href="https://sealevelresearch.typeform.com/to/KE0BzX">Reach out</a> to see how Sea Level Research can improve your port.</strong></p>
          </div>
          <!-- /.content -->
        </div>
        <!-- /.column -->
      </div>
      <!-- /.columns -->
    </div>
    <!-- /.container -->



  </div>
  <!-- /.hero-body -->
</section>




<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column is-8 is-offset-2">
        <h4 class="caption-title">Scientists, Designers &amp; Technologists</h4>
        <h1 class="title">The People Behind Sea Level Research</h1>
      </div>
      <!-- /.column -->

    </div>
    <!-- /.columns -->


    <div class="columns">

      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/assets/simon.jpg" alt="Photo of Simon Holgate">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 condensed-type">Simon Holgate</p>
                <p class="subtitle is-6 condensed-type">Founder &amp; CEO</p>
              </div>
            </div>

            <div class="content">
              <p>Founded Sea Level Research.</p>

              <p>Spent 10 years as a Senior Scientist at the <a href="https://www.noc.ac.uk/" target="_blank">National Oceanography Centre</a> in Liverpool working on tides and sea level.</p>

              <p>He is the Vice-President of the IAPSO Commission on Mean Sea Level and Tides and has contributed to the Intergovernmental Panel on Climate Change.</p>





            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.column -->

      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/assets/paul.jpg" alt="Photo of Paul Freeman">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 condensed-type">Paul Freeman</p>
                <p class="subtitle is-6 condensed-type">Chief Technology Officer</p>
              </div>
            </div>

            <div class="content">
              <p>Co-founded Fruitful, now <a href="https://www.idealmodularhomes.co.uk/"  target="_blank">Ideal Modular Homes</a>. Paul was responsible for Fruitful’s technology and product.</p>

              <p>Before Fruitful, Paul developed <abbr title="Patient Information Management Solutions">PiMS</abbr> 2 for <a href="https://www.morson.com/projects/" target="_blank">Morson Projects</a>—with a combined annual revenue £500million+. He is a co-founder of <a href="https://doesliverpool.com/">DoES Liverpool</a>—the city’s de facto startup, events and makerspace</p>

              <p>He speaks at events for Google, FinTech Week and Front End Developer Conf.</p>


            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.column -->

      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/assets/tom.jpg" alt="Photo of Tom Darlow">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 condensed-type">Tom Darlow</p>
                <p class="subtitle is-6 condensed-type">Product Director</p>
              </div>
            </div>

            <div class="content">
              <p>Co-founded Fruitful, now <a href="https://www.idealmodularhomes.co.uk/" target="_blank">Ideal Modular Homes</a>. Tom was responsible for Fruitful’s product and marketing.</p>

              <p>Before Fruitful, Tom founded design firm Bright Headway. He led projects for notable clients including; Countrywide, University of Manchester, UK Government’s Business Innovation & Skills department and more.</p>

              <p>Tom is a Business Expert for <a href="https://www.sage.com" target="_blank">Sage</a>, the UK’s largest software company.</p>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.column -->

    </div>
    <!-- /.columns -->
  </div>
  <!-- /.container -->
</section>

<svg class="divider">
  <use xlink:href="#waves" />
</svg>

<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column is-8 is-offset-2">
        <h1 class="title">Board &amp; Investors</h1>
      </div>
      <!-- /.column -->

    </div>
    <!-- /.columns -->


    <div class="columns">

      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 condensed-type">Michael Finn</p>
                <p class="subtitle is-6 condensed-type">Chairman</p>
              </div>
            </div>

            <div class="content">
              <p>Shipping Exec of 30 years with exceptional track-record.</p>
              <ul>
                <li>CEO <a href="https://en.wikipedia.org/wiki/CSAV" target="_blank">CSAV</a> (UK & Ireland) 2005/2014: 45% Sales growth over 4 years</li>
                <li>Director of Ops at <a href="https://www.cma-cgm.com/" target="_blank">CMA-CGM</a>, World’s 3rd largest shipping line: End-to-end responsibility for business of £140million turnover</li>
                <li>Director at AWA Container Fleet Management £210million turnover</li>
                <li>Detailed knowledge of operations marine and land side</li>
                <li>Broad network in marine</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.column -->

      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 condensed-type">William Clark</p>
                <p class="subtitle is-6 condensed-type">Non-Executive Director</p>
              </div>
            </div>
            <div class="content">
              <p>Investment Director at Enterprise Ventures, now part of <a href="https://www.merciatech.co.uk/" target="_blank">Mercia Technologies</a>.</p>
              <ul>
                <li>Completed acquisition, re-financing and sale of more than 50 companies with a total deal value of £0.7billion</li>
                <li>Board director at: Chargepoint, ResponseTap, Great Bear Distribution, Clarke Energy and MGF</li>
                <li>Track record includes the investment and subsequent sale of Warrens to BSS (trade sale), Stateside to Freiberger (trade sale) and Vibtec to Sercel (trade sale)</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.column -->

      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 condensed-type">Chris Davis</p>
                <p class="subtitle is-6 condensed-type">Non-Executive Director</p>
              </div>
            </div>

            <div class="content">
              <p>Executive Coach with 25 years experience supporting Organisation Leaders in the Private and Public sector at Director level within small, medium-sized and large organisations.</p>

              <ul>
                <li>Non-Executive Director with two start-up businesses - an SME seeking a sale (successfully achieved) and a public sector junior board.</li>
                <li>Focus on achieving significant improvement in outcomes through leaders, teams, culture and organisational change in Blue Chip organisations</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.column -->

    </div>
    <!-- /.columns -->

  </div>
  <!-- /.container -->
</section>



<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column is-8 is-offset-2">
        <h4 class="caption-title">For Ports &amp; Terminal Operators Like You</h4>
        <h1 class="title">Who We Work With</h1>
      </div>
      <!-- /.column -->

    </div>
    <!-- /.columns -->

    <ul class="logo-gallery">
      <li class="logo-gallery__item">
        <img alt="ABP Ports Logo" src="/assets/logo-abp.png" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img alt="Peel Ports Logo"  src="/assets/logo-peel.jpg" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img alt="Essar Energy Logo"  src="/assets/logo-essar.jpg" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img alt="Stenaline Logo"  src="/assets/logo-stenaline.jpg" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img alt="Seatruck Logo"  src="/assets/logo-seatruck.jpg" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img alt="Irish Marine Logo"  src="/assets/logo-irish-marine.jpg" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img alt="National Oceanography Logo"  src="/assets/logo-national-oceanography-centre.jpg" class="logo-gallery__image" />
      </li>
    </ul>
  </div>
  <!-- /.container -->
</section>



<svg class="divider">
  <use xlink:href="#waves" />
</svg>


<section class="section has-spacing-top has-spacing-bottom">
  <div class="container">
    <div class="columns">

      <div class="column is-8 is-offset-2">
        <h4 class="caption-title">Take A Step Forward</h4>
        <h1 class="title">Book A Consultation</h1>
      </div>
      <!-- /.column -->

    </div>
    <!-- /.columns -->


    <div class="columns">
      <div class="column is-6">

        <div class="content">

          <p><strong>Change is challenging.</strong><br> We’re here to <span class="highlight">make it easy.</span></p>

          <p>If you have questions, we have answers. <a href="https://sealevelresearch.typeform.com/to/KE0BzX" target="_blank">Book a consultation</a> to:</p>

          <ul>
            <li><strong>Review your data</strong> and identify what you did vs. what is possible.</li>
            <li><strong>Demo Vantage</strong> to see how it helps you get the job done better, safer and faster than yesterday.</li>
            <li><strong>Explore The Business Potential</strong> for reducing risk and increasing profits.</li>
          </ul>
        </div>
        <!-- /.content -->

      </div>
      <!-- /.column -->

      <div class="column is-5">

        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAGuAAAAJDRkOTg3ODViLWI4YjQtNDc4Ni05YTg4LWY5ZjFmZTIxZjRmOA.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Simon Holgate</p>
                <p class="subtitle is-6 condensed-type">Founder &amp; CEO</p>
              </div>
            </div>

            <div class="content">
              <p>Contact Simon to see how we can work to make your port better, safer and faster than yesterday.</p>
              <a href="https://sealevelresearch.typeform.com/to/KE0BzX" class="button is-primary"><strong>Get in touch</strong></a>
            </div>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.column -->

    </div>
    <!-- /.columns -->


  </div>
  <!-- /.container -->
</section>
