---
layout: default
active: careers
---


<!-- <section class="hero is-primary is-bold" style="margin-top: -2px; position: relative;z-index: 2;">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        LocumTap is Growing.
      </h1>
      <h2 class="subtitle">
        Grow with us.
      </h2>
    </div>
  </div>
</section> -->


<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column is-8 is-offset-2">
        <h1 class="title">LocumTap is Growing.</h1>
        <h2 class="subtitle">Grow with us</h2>

        <div class="content is-medium">
          <p>LocumTap redefines <abbr title="human resources">HR</abbr> for healthcare in ways that:</p>

          <p>💸 <strong>Saves the National Health Service millions</strong> </p>

          <p>👍🏼 <strong>Keeps medics happy</strong> </p>

          <p>👩🏼‍⚕️ <strong>Means a doctor is there when you need one most</strong></p>

          <p>Backed by the Harvard Business Angels and founded by former NHS Doctors, the vision is being brought to life by a talented and diverse team.</p>

          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <a href="#" class="button is-dazzling is-medium">See where you fit in</a>
            </p>
          </div>


        </div>
        <!-- /.content -->
      </div>
      <!-- /.column -->


    </div>
    <!-- /.columns -->


  </div>
  <!-- /.container -->
</section>




<div class="split-windscreen is-clearfix">
  <img class="split-windscreen__photo" src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/jobs/teams/teams-toc-right@2x.jpg" alt="Office" />

  <img class="split-windscreen__photo" src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/jobs/homepage/T51A3696@2x.jpg" alt="Office" />
</div>
<!-- ./split-windscreen -->



<section class="section">
  <div class="container">

    <div class="columns">

      <div class="column is-8 is-offset-2">
        <h1 class="title">A New Record. <em class="thin-emphasis">For A Track Record.</em></h1>
      </div>


    </div>
    <!-- /.columns -->


          <div class="timeline is-centered">
            <header class="timeline-header">
              <span class="tag is-medium is-primary">Today</span>
            </header>
            <div class="timeline-item">
              <div class="timeline-marker is-primary"></div>
              <div class="timeline-content">
                <p class="heading">April 2018</p>
                <p><strong>HSJ Shortlisted</strong> for Best Medical App in the World</p>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-marker is-warning is-image is-32x32">
                <img src="http://bulma.io/images/placeholders/32x32.png">
              </div>
              <div class="timeline-content">
                <p class="heading">February 2016</p>
                <p><strong>£1.25million seed round raised</strong> led by <a href="http://www.hbsa.org.uk/s/1738/cc/index2.aspx?sid=1738&gid=6&pgid=3748" target="_blank">Harvard Business Angels</a>.</p>
              </div>
            </div>
            <header class="timeline-header">
              <span class="tag is-primary">2017</span>
            </header>
            <div class="timeline-item">
              <div class="timeline-marker is-danger is-icon">
                <i class="fa fa-flag"></i>
              </div>
              <div class="timeline-content">
                <p class="heading">March 2017</p>
                <p>Sex pesting Darlow</p>
              </div>
            </div>
            <header class="timeline-header">
              <span class="tag is-medium is-primary">2016</span>
            </header>
          </div>


  </div>
  <!-- /.container -->
</section>
