---
layout: default
active: careers
---


<!-- <section class="hero is-primary is-bold" style="margin-top: -2px; position: relative;z-index: 2;">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        LocumTap is Growing.
      </h1>
      <h2 class="subtitle">
        Grow with us.
      </h2>
    </div>
  </div>
</section> -->


<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column is-8 is-offset-2">
        <h1 class="title">LocumTap is Growing.</h1>
        <h2 class="subtitle">Grow with us</h2>

        <div class="content is-medium">
          <p>LocumTap redefines <abbr title="human resources">HR</abbr> for healthcare in ways that:</p>

          <p>💸 <strong>Saves the National Health Service millions</strong> </p>

          <p>👍🏼 <strong>Keeps medics happy</strong> </p>

          <p>👩🏼‍⚕️ <strong>Means there is a doctor is there when you one most</strong></p>

          <p>Backed by the Harvard Business Angels and founded by former NHS Doctors, the vision is being brought to life by a talented and diverse team.</p>

        </div>
        <!-- /.content -->
      </div>
      <!-- /.column -->


    </div>
    <!-- /.columns -->


  </div>
  <!-- /.container -->
</section>



<div class="split-windscreen">
  <img class="split-windscreen__photo" src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/jobs/teams/teams-toc-right@2x.jpg" alt="Office" />

  <img class="split-windscreen__photo" src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/jobs/homepage/T51A3696@2x.jpg" alt="Office" />
</div>
<!-- ./split-windscreen -->
