---
layout: default
active: careers
---

<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column is-8 is-offset-2">
        <h4 class="caption-title">LocumTap is Growing</h4>
        <h1 class="title is-size-1">Grow With Us</h1>

        <div class="content is-medium">
          <p>LocumTap connects clinicians with shifts in ways that:</p>

          <p>💸 <strong>Saves the National Health Service millions</strong> </p>

          <p>👍🏼 <strong>Keeps medics happy</strong> </p>

          <p>👩🏼‍⚕️ <strong>Means a doctor is there when you need one most</strong></p>

          <p>Backed by the Harvard Business Angels and founded by former NHS Doctors, the vision is being brought to life by a talented and diverse team.</p>

          <div class="field is-grouped is-grouped-centered has-spacing-top--large">
            <p class="control">
              <a href="#is-hiring" class="button is-dazzling is-medium">See where you fit in</a>
            </p>
          </div>



        </div>
        <!-- /.content -->
      </div>
      <!-- /.column -->


    </div>
    <!-- /.columns -->


  </div>
  <!-- /.container -->
</section>



<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">


      <div class="columns">

        <div class="column is-8 is-offset-2">

          <blockquote>
            <p class="title">“Surround yourself with people you like and make cool stuff with them.”</p>
            <cite>— John Green</cite>
          </blockquote>


        </div>
        <!-- /.column -->


      </div>
      <!-- /.columns -->




      <ul class="profile-photos">
        <li class="profile-photos__item">
          <a href="https://www.linkedin.com/in/naderanas/" target="_blank" class="profile-photos__link">
            <img src="/assets/profile-photos/anas.jpg" alt="Anas' profile photo" class="profile-photos__image" />
          </a>
        </li>

        <li class="profile-photos__item">
          <a href="https://www.linkedin.com/in/nikakuznetsova/" target="_blank" class="profile-photos__link">
            <img src="/assets/profile-photos/nika.jpg" alt="Nika's profile photo" class="profile-photos__image" />
          </a>
        </li>

        <li class="profile-photos__item">
          <a href="https://www.linkedin.com/in/hank-h-ng-b6b11a148/" target="_blank" class="profile-photos__link">
            <img src="/assets/profile-photos/hank.jpg" alt="Hank's profile photo" class="profile-photos__image" />
          </a>
        </li>

        <li class="profile-photos__item">
          <a href="https://www.linkedin.com/in/jingouyang1/" target="_blank" class="profile-photos__link">
            <img src="/assets/profile-photos/jing.jpg" alt="Jing's profile photo" class="profile-photos__image" />
          </a>
        </li>

        <li class="profile-photos__item">
          <a href="https://www.linkedin.com/in/harry-davis-94ba7781/" target="_blank" class="profile-photos__link">
            <img src="/assets/profile-photos/harry.jpg" alt="Harry's profile photo" class="profile-photos__image" />
          </a>
        </li>

        <li class="profile-photos__item">
          <a href="https://www.linkedin.com/in/vitangelo-vaiuso-503529a0/" target="_blank" class="profile-photos__link">
            <img src="/assets/profile-photos/vito.jpg" alt="Vito's profile photo" class="profile-photos__image" />
          </a>
        </li>

        <li class="profile-photos__item">
          <a  target="_blank" class="profile-photos__link">
            <img src="/assets/profile-photos/sabba.jpg" alt="Sabba's profile photo" class="profile-photos__image" />
          </a>
        </li>

        <li class="profile-photos__item">
          <a href="https://www.linkedin.com/in/afroleft/" target="_blank" class="profile-photos__link">
            <img src="/assets/profile-photos/tom.jpg" alt="Tom's profile photo" class="profile-photos__image" />
          </a>
        </li>

        <li class="profile-photos__item">
          <a  target="_blank" class="profile-photos__link">
            <img src="/assets/profile-photos/james.jpg" alt="James' profile photo" class="profile-photos__image" />
          </a>
        </li>

        <li class="profile-photos__item">
          <a href="https://youtu.be/Qkuu0Lwb5EM?t=17s" target="_blank" class="profile-photos__link">
            <img src="/assets/profile-photos/emma.jpg" alt="Emma's profile photo" class="profile-photos__image" />
          </a>
        </li>


      </ul>


      <div class="columns">

        <div class="column is-8 is-offset-2">

          <div class="content has-spacing-top">
          <p class="is-size-4">We’re a team of designers, doctors, developers, dogs and implementers. <a href="#is-hiring">See where you fit in</a> or reach out to <strong>info@locumtap.com</strong></p>
          </div>
          <!-- /.content -->

        </div>
        <!-- /.column -->


      </div>
      <!-- /.columns -->



    </div>
  </div>
</section>


<!--
<div class="split-windscreen is-clearfix">
  <img class="split-windscreen__photo" src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/jobs/teams/teams-toc-right@2x.jpg" alt="Office" />

  <img class="split-windscreen__photo" src="https://aem.dropbox.com/cms/content/dam/dropbox/www/en-us/jobs/homepage/T51A3696@2x.jpg" alt="Office" />
</div> -->
<!-- ./split-windscreen -->







<section class="section">
  <div class="container">

    <div class="columns">

      <div class="column is-8 is-offset-2">
        <div class="content has-text-centered">
          <h1 class="title"><em class="thin-emphasis">Be Part of Our Next Milestone.</em></h1>
        </div>
      </div>


    </div>
    <!-- /.columns -->


          <div class="timeline is-centered">
            <header class="timeline-header">
              <span class="tag is-medium"><strong>Today</strong></span>
            </header>
            <div class="timeline-item">
              <div class="timeline-marker is-danger is-icon">
                <i class="fa fa-trophy has-text-white"></i>
              </div>

              <div class="timeline-content">
                <p class="heading is-size-6"><strong>April 2018</strong></p>
                <p><strong><a href="https://awards.hsj.co.uk/">HSJ Award Finalist</a></strong></p>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-marker is-warning is-icon">
                <i class="fa fa-money-bill-alt has-text-white"></i>
              </div>
              <div class="timeline-content">
                <p class="heading is-size-6"><strong>February 2018</strong></p>
                <p><strong>£1.25million seed round raised</strong> led by <a href="http://www.hbsa.org.uk/s/1738/cc/index2.aspx?sid=1738&gid=6&pgid=3748" target="_blank"><strong>Harvard Business Angels</strong></a>.</p>
              </div>
            </div>


            <div class="timeline-item">
              <div class="timeline-marker is-success is-icon">
                <i class="fa fa-thumbs-up has-text-white"></i>
              </div>
              <div class="timeline-content">
                <p class="heading is-size-6"><strong>January 2018</strong></p>
                <p>LocumTap launched successfully in 3 (and counting) Trusts</p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-marker is-success is-icon">
                <i class="fa fa-check has-text-white"></i>
              </div>
              <div class="timeline-content">
                <p class="heading is-size-6"><strong>June 2017</strong></p>
                <p>Successful Pilot <strong><a href="/#nhs-employers-findings">showing impressive results.</a></strong></p>
              </div>
            </div>


            <div class="timeline-item">
              <div class="timeline-marker is-success is-icon">
                <i class="fa fa-pencil-alt has-text-white"></i>
              </div>
              <div class="timeline-content">
                <p class="heading is-size-6"><strong>January 2017</strong></p>
                <p>Start Developing Minimum Marketable Product</p>
              </div>
            </div>


            <header class="timeline-header">
              <span class="tag is-medium"><strong>2017</strong></span>
            </header>

            <div class="timeline-item">
              <div class="timeline-marker is-primary is-icon">
                <i class="fas fa-handshake has-text-white"></i>
              </div>
              <div class="timeline-content">
                <p class="heading is-size-6"><strong>December 2016</strong></p>
                <p><strong>Chelsea &amp; Westminster Trust Partnership</strong></p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-marker is-success is-icon">
                <i class="fa fa-check has-text-white"></i>
              </div>
              <div class="timeline-content">
                <p class="heading is-size-6"><strong>September 2016</strong></p>
                <p>Ideas &amp; the drawing board</p>
              </div>
            </div>
            <header class="timeline-header">
              <span class="tag is-medium"><strong>2016</strong></span>
            </header>
          </div>


  </div>
  <!-- /.container -->
</section>



<section class="hero is-medium is-primary is-bold" id="is-hiring">
  <div class="hero-body">
    <div class="container">

      <div class="columns">

        <div class="column is-8 is-offset-2">
          <div class="content">
            <h1 class="title">Vacancies</h1>

            <ul class="is-size-4">
              <li><a href="/hiring/2018/01/01/we-are-hiring-a-frontend-engineer.html">Front End Engineer</a> — Product Team</li>
              <!-- <li><a href="#">Marketing Executive</a> — Product Marketing</li> -->
              {% for post in site.posts %}
                  <!-- <li><a href="{{ post.url }}">{{ post.title }}</a></li> -->
              {% endfor %}

            </ul>

            <hr>
            <p>Don’t see a position that fits? <a href="mailto:info@locumtap.com?subject=I’d like to join LocumTap&">Send us your CV</a>. We’re regularly scouting for good people to join the team.</p>
          </div>
        </div>


      </div>
      <!-- /.columns -->

    </div>
  </div>
</section>
