---
layout: default
active: for-locums
---


<div class="container">
  <div class="locum-hero">
    <div class="columns is-gapless">
      <div class="locum-hero__messaging column is-6">

        <div class="content">
          <h1 class="is-size-1 locum-hero__title">Tap Tap.
            <em class="thin-emphasis">You’re Booked.</em>
            <span class="locum-hero__icon icon">
              <i class="fas fa-check-circle"></i>
            </span>
          </h1>
          <p>Stop drowning in emails, waiting for responses and spend more time singing in the shower.</p>

          <p><a href="#">Learn more</a> or download:</p>

          <a class="button is-dazzling"><i class="fab fa-apple"></i> &nbsp; for iOS</a>

          <a class="button is-dazzling"><i class="fab fa-android"></i> &nbsp; for Android</a>


        </div>
        <!-- /.content -->
      </div>
      <!-- /.column -->

      <div class="column is-6">
        <img src="/assets/locumtap-app.png" alt="LocumTap app showing shifts available to book." />
      </div>
      <!-- /.column -->

    </div>
    <!-- /.columns -->

  </div>
  <!-- /.locum-hero -->
</div>
<!-- /.container -->
