---
layout: default
active: for-locums
---


<div class="container">
  <section class="section">
    <div class="locum-hero">
      <div class="columns">
        <div class="locum-hero__messaging column is-6">

          <div class="content">
            <h1 class="is-size-1 locum-hero__title">Booked.
              <em class="locum-hero-title__caption thin-emphasis">Worked.
              </em>
              <em class="locum-hero-title__caption thin-emphasis">Paid
                <span class="locum-hero__icon icon">
                  <i class="fas fa-check-circle"></i>
                </span>
              </em>

            </h1>

            <p>Stop drowning in emails, waiting for responses and automatically track what you’ve worked vs. what you’ve been paid.</p>

            <p><a href="#is-fabulous">Learn more</a> or download:</p>

            <a onclick="appDownloadEvent();" href="https://itunes.apple.com/gb/app/locumtap/id1274146437" class="button is-dazzling"><i class="fab fa-apple"></i> &nbsp; for iOS</a>

            <a onclick="appDownloadEvent();" href="https://play.google.com/store/apps/details?id=com.locumtap.app" class="button is-dazzling"><i class="fab fa-android"></i> &nbsp; for Android</a>


          </div>
          <!-- /.content -->
        </div>
        <!-- /.column -->

        <div class="column is-6">
          <img src="/assets/Patchwork-App-3.png" alt="Patchwork app showing shifts available to book." />
        </div>
        <!-- /.column -->

      </div>
      <!-- /.columns -->

    </div>
    <!-- /.locum-hero -->
  </section>
</div>
<!-- /.container -->


<section class="hero is-primary is-medium is-bold" id="is-fabulous">
  <div class="hero-body">

    <div class="container">

      <div class="columns">
        <div class="column is-8 is-offset-2">
          <h1 class="title has-text-centered is-size-1 has-spacing-bottom">Locums</h1>

          <div class="content has-text-centered is-large has-spacing-bottom--large">
            <p>Wave goodbye to unreliable communication, never ending paperwork and stressing about being paid the right amount for what you’ve worked.</p>

            <p>Sit back, and say hello to Patchwork.</p>

          </div>
          <!-- /.content -->


        </div>
        <!-- /.column -->
      </div>
      <!-- /.columns -->


      <div class="columns is-multiline">

        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-smile"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">Hassle Level Zero</h3>
              <p class="job-feature__explanation">End the endless back and forth with HR. Less emails, less calls, more control. Book shifts instantly, 24 hours a day, 7 days a week.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->

        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-money-bill"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">Paid Right. Everytime.</h3>
              <p class="job-feature__explanation"><strong>Automatically keep track of what you've worked</strong> and when you've been paid with Patchwork Timesheets.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->

        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-dot-circle"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">Get First Dibs</h3>
              <p class="job-feature__explanation">Patchwork sends you notifications for shifts that match your skillset, so you can book them first.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->


        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-check-circle"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">Tap. Applied. Approved.</h3>
              <p class="job-feature__explanation">In just a few minutes build your profile &amp; join multiple Staff Banks.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->


        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-calendar-alt"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">Answer, What’s Next?</h3>
              <p class="job-feature__explanation">Use the Patchwork Planner to keep track of upcoming,  applied &amp; urgent shifts.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->


        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-cloud"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">Safe &amp; Sound &amp; Up-to-date</h3>
              <p class="job-feature__explanation">Keep all your documents safe and in one place and be notified when they expire.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->

      </div>
      <!-- /.columns -->


      <div class="columns">

        <div class="column is-6 is-offset-3">
          <img src="/assets/Patchwork-App-2way.png" alt="Patchwork app showing Timesheets &amp; Profile." />

          <p>Don’t take our word for it. <strong class="highlight">Download Patchwork Health now.</strong></p>
        </div>
        <!-- /.column -->

      </div>
      <!-- /.columns -->



      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a href="https://itunes.apple.com/gb/app/locumtap/id1274146437" class="button is-dazzling is-medium"><i class="fab fa-apple"></i> &nbsp; for iOS</a>

          <a href="https://play.google.com/store/apps/details?id=com.locumtap.app" class="button is-dazzling is-medium"><i class="fab fa-android"></i> &nbsp; for Android</a>
        </p>
      </div>



    </div>
  </div>
  <!-- /.hero-body -->
</section>

<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column is-8 is-offset-2">
        <h4 class="caption-title">Each month we’re adding Employers</h4>
        <h1 class="title">Patchwork is working with...</h1>
      </div>
      <!-- /.column -->

    </div>
    <!-- /.columns -->

    <ul class="logo-gallery">
      <li class="logo-gallery__item">
        <img alt="NHS Chelsea Westminster Trust Logo"  src="/assets/logo-chelsea-westminster.png" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img alt="NHS London Northwest Trust Logo"  src="/assets/logo-london-north-west.png" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img alt="NHS Hillingdon Trust Logo"  src="/assets/logo-hillingdon.png" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img alt="NHS West London Trust Logo"  src="/assets/logo-west-london.png" class="logo-gallery__image" />
      </li>
      <li class="logo-gallery__item">
        <img alt="Aneurin Bevan University Health Board Logo"  src="/assets/logo-aneurin.png" class="logo-gallery__image" />
      </li>

      <li class="logo-gallery__item">
        <img alt="NHS York Trust Logo"  src="/assets/logo-york.png" class="logo-gallery__image" />
      </li>
    </ul>
  </div>
  <!-- /.container -->
</section>
