---
layout: default
active: for-locums
---


<div class="container">
  <section class="section">
    <div class="locum-hero">
      <div class="columns is-gapless">
        <div class="locum-hero__messaging column is-6">

          <div class="content">
            <h1 class="is-size-1 locum-hero__title">Tap Tap.
              <em class="locum-hero-title__caption thin-emphasis">You’re Booked.
                <span class="locum-hero__icon icon">
                  <i class="fas fa-check-circle"></i>
                </span>
              </em>
            </h1>
            <p>Stop drowning in emails, waiting for responses and automatically track what you’ve worked.</p>

            <p><a href="#">Learn more</a> or download:</p>

            <a class="button is-dazzling"><i class="fab fa-apple"></i> &nbsp; for iOS</a>

            <a class="button is-dazzling"><i class="fab fa-android"></i> &nbsp; for Android</a>


          </div>
          <!-- /.content -->
        </div>
        <!-- /.column -->

        <div class="column is-6">
          <img src="/assets/locumtap-app.png" alt="LocumTap app showing shifts available to book." />
        </div>
        <!-- /.column -->

      </div>
      <!-- /.columns -->

    </div>
    <!-- /.locum-hero -->
  </section>
</div>
<!-- /.container -->



<section class="hero is-primary is-medium is-bold" id="is-fabulous">
  <div class="hero-body">

    <div class="container">

      <div class="columns">
        <div class="column is-8 is-offset-2">
          <h1 class="title has-text-centered is-size-1 has-spacing-bottom">Locums</h1>

          <div class="content has-text-centered is-large has-spacing-bottom--large">
            <p>Wave goodbye to unreliable communication, never ending paperwork and stressing about being paid the right amount for what you’ve worked.</p>

            <p>Sit back, and say hello to LocumTap.</p>

          </div>
          <!-- /.content -->


        </div>
        <!-- /.column -->
      </div>
      <!-- /.columns -->


      <div class="columns is-multiline">

        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-cut"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">Hassle Level Zero</h3>
              <p class="job-feature__explanation">Remove the need to tiresome back and forth with HR. Less emails, less calls, more control. Book shifts instantly, 24 hours a day, 7 days a week.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->

        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-check-circle"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">Paid Right. Everytime.</h3>
              <p class="job-feature__explanation"><strong>Automatically keep track what you've worked</strong> and when you've been paid.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->


        <div class="column is-4">
          <div class="job-feature">
            <span class="icon job-feature__icon">
              <i class="fas fa-thumbs-up"></i>
            </span>

            <div class="content">
              <h3 class="job-feature__title">Safe &amp; Sound &amp; Up-to-date</h3>
              <p class="job-feature__explanation">Keep all your documents safe and in one place and be notified when your documents expire.</p>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.job-feature -->
        </div>
        <!-- /.column -->

      </div>
      <!-- /.columns -->


      <div class="columns is-multiline">

        <div class="column is-6 is-offset-3">
          <img src="/assets/locumtap-app-2.png" alt="LocumTap app showing shifts available to book." />
        </div>
        <!-- /.column -->

      </div>
      <!-- /.columns -->



      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <a class="button is-dazzling is-medium"><i class="fab fa-apple"></i> &nbsp; Download for iOS</a>

          <a class="button is-dazzling is-medium"><i class="fab fa-android"></i> &nbsp; Download for Android</a>
        </p>
      </div>

    </div>
  </div>
  <!-- /.hero-body -->
</section>
