---
layout: default
---
<section class="section">

  <div class="container">


    <div class="sectio"
      <div class="post">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <h4 class="caption-title">{{ page.date | date_to_string }}</h4>
            <h1 class="title">{{ page.title }}</h1>

            <div class="content">
            {{ content }}
            </div>
          </div>
          <!-- /.column -->
        </div>
        <!-- /.columns -->
      </div>
      <!-- /.post -->



  </div>
  <!-- /.container  -->

</section><section class="section">
