---
layout: default
active: privacy
---


<div class="container">
  <section class="section">

    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h4 class="caption-title">Thank you for using LocumTap!</h4>
        <h1 class="title">LocumTap Privacy Notice</h1>

        <div class="tags has-addons is-large">
          <span class="tag">Version</span>
          <span class="tag is-primary">1.0</span>
        </div>


        <div class="content">

          <p>LocumTap has to handle personal data about temporary workers and the staff of their employers.</p>

          <p>This page explains what personal data we handle and why we do so.</p>

          <p>Colloquially, “locum” means a clinician working temporary shifts for an employer such as an NHS hospital. On this page, we say “locum” in the general sense to mean anyone who substitutes temporarily for another member of the same profession.</p>

          <p><em>(For the legal eyed reading this, words in bold say the <strong>legal basis</strong> of the GDPR under which we are controlling the data. We’re legally the <strong>controller</strong> of all data in this document.)</em></p>

          <p>Here’s the personal data we handle starting when...</p>

          <h2 id="1locumappliestoworkforanemployer">1. Locum applies to work for an employer</h2>

          <p>When a locum applies to work at an employer we handle this personal data about them:</p>

          <ul>
          <li>Email, password, cookies - to identify themselves to LocumTap</li>

          <li>Name, data of birth - to match against existing Electronic Staff Records</li>

          <li>Passport - required for photo identification, as medicine is a regulated industry</li>

          <li>Right to work documents - if Passport doesn’t give right to work</li>

          <li>Disclosure and Barring Service (DBS) - required by law and Government policy</li>

          <li>GMC number - for identification with official register of medical practitioners</li>

          <li>Proof of qualifications - ultimately, so can book only shifts they’re qualified for</li>
          </ul>

          <p>We do this to fulfill the <strong>contract</strong> between the locum and the employer (employment application).</p>

          <p>Note that we give this information (except password and cookies!) to the employer’s HR team that the locum is applying to work at. We keep a history of rejected applications so the employer has a record for disputes and fraudulent applications.</p>

          <p>We also store the same personal data so that the locum can more easily apply to other employers. This is by <strong>consent</strong> of the locums, and they can request deletion of the data at any time.</p>

          <h2 id="2locumbooksashift">2. Locum books a shift</h2>

          <p>After a locum is activated as working at an employer, we handle this personal data about them:</p>

          <ul>
          <li>Name, password, cookies - to identify themselves to LocumTap</li>

          <li>Mobile notification keys - for in-app push notifications about shifts</li>

          <li>Grade and specialities - so they can only book shifts they’re qualified for</li>

          <li>Shifts they have booked to work on</li>

          <li>Departments they are assigned to</li>

          <li>Whether they are a preferred locum - so don’t need approval when booking shifts</li>
          </ul>

          <p>We do this to fulfill the employment <strong>contract</strong> between the locum and the employer. Of course the employer HR team has access to this information in their shift booking system (except password and cookies!).</p>

          <p>So the employer can handle employment disputes, and for patient safety, we permanently store this personal data about the locum:</p>

          <ul>
          <li>History of shifts they used to work on</li>

          <li>Cancelled shifts and the reason they are cancelled</li>

          <li>Changes to timing or escalation of shifts</li>
          </ul>

          <p>Again, this is to fulfill the locum’s employment <strong>contract</strong>, particularly in the case of errors or disputes.</p>

          <h2 id="4agencylocumbooksashift">4. Agency locum books a shift</h2>

          <p>If a shift is filled not by LocumTap but by an agency we store this information about the agency locum:</p>

          <ul>
          <li>Name of agency locum</li>

          <li>Grade, department</li>

          <li>Time and other details about shift</li>
          </ul>

          <p>This is to fulfill the agency locum’s employment <strong>contract</strong> with their agency, which requires booking shifts on the employer’s booking system.</p>

          <h2 id="5locumgetspaid">5. Locum gets paid</h2>

          <p>So a locum can get paid, we handle this personal data about them:</p>

          <ul>
          <li>ESR / payroll number - for integration by the employer with their payroll system</li>

          <li>Rate of pay for a shift</li>

          <li>History of shifts and their rates of pay</li>
          </ul>

          <p>This is necessary to fulfill the employment <strong>contracts</strong> between the locums and their employer. It is necessary that we keep the history, in case there are errors or disputes. The employer has access to this information.</p>

          <h2 id="6employersstaffdotheirjobs">6. Employer’s staff do their jobs</h2>

          <p>We handle some personal data about employer staff who use the LocumTap employer portal to do their work:</p>

          <ul>
          <li>Name, password, cookies - to identify themselves to LocumTap</li>

          <li>Audit history of their activity on the LocumTap employer portal</li>
          </ul>

          <p>This is so the employer can perform their <strong>public task</strong> (if public sector) or <strong>legitimate interests</strong> (otherwise) of managing their HR team, including knowing who made decisions about the HR team.</p>

          <h2 id="7allusers">7. All users</h2>

          <p>To help maintain our service we store:</p>

          <ul>
          <li>Standard server logs</li>
          </ul>

          <p>We do this in our <strong>legitimate interests</strong> to run a reliable service and provide customer support.</p>

          <p>We generate aggregated statistical information about shifts, bookings and locums. For example, measuring the fill rate of an HR team. These statistics are no longer personal data. We use them for research, marketing and financial planning.</p>

          <h2 id="makingrequestsaboutyourdata">Making requests about your data</h2>

          <p>If we hold any of your personal data, you can request to access it. In some cases, depending on the reason given above that we hold the data, you can request we correct, erase or restrict our processing of it.</p>

          <p>If you’d like to to do this, please contact us by emailing <a href="mailto:info@locumtap.com">info@locumtap.com</a>.</p>

          <p>We’d also love to hear from you if you have any other questions.</p>

          <p>If you have any concerns about any organisation’s processing of personal data, you can report your concern to the Information Commissioner’s Office. <a href="https://ico.org.uk/concerns">https://ico.org.uk/concerns</a></p>




        </div>
        <!-- /.content -->

      </div>
      <!-- /.column -->
    </div>
    <!-- /.columns -->

  </section>
</div>
<!-- /.container -->
