---
layout: default
active: rebrand
---


<section class="section">

  <div class="container">


    <div class="section">
      <div class="post">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <h4 class="caption-title">A Letter: 17th October, 2018</h4>
            <h1 class="title">From the Co-founder &amp; CEO</h1>

            <div class="content">


              {{ content }}


            </div>
          </div>
          <!-- /.column -->
        </div>
        <!-- /.columns -->
      </div>
      <!-- /.post -->



  </div>
  <!-- /.container  -->

</section>
